.nav-links {
    display: flex;
    margin-left: 5px;
    gap: 40px;
}



.nav-link {
    margin-top: 7px;
}


.carousel-inner .carousel-item .carousel-img {
    height: 50vh;
}




.navbar {
    background-color: #353434;
}



body {
    background-color: #141414 ;
}




.container .card {
    background-color: #27003438 ;

}






.card .card-body .card-title {
    color: rgb(153, 153, 153);
}




.card .card-body .card-text-lang {
    color: rgb(135, 138, 138);
}




.detail-wrapper {
    display: flex;
    gap: 20px;
    max-width: 800px;
    margin: auto;
    align-items: flex-start;
}






.detail-wrapper .poster {
    width: 200px;
    height: auto;
    border-radius: 4px;
}





.detail-wrapper .info {
    flex: 1;
    color: aliceblue;
}






.detail-wrapper h2 {
    margin-top: 0;
    font-size: 24px;
}




.detail-wrapper p {
    margin: 5px 0;
}




.detail-wrapper .summary {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 14px;
}